<div id="container">
    <div id="cover-art">
        <div id="cover-art-big"></div>
        <img id="cover-art-small" *ngIf="currentTrack" alt="cover-art-small" src="{{currentTrack.picture_large}}">
        <div class="instructions">Drop your audio files here.</div>
    </div>
    <div id="wave"></div>
    <div id="control-bar">
        <div class="player-control">
            <div id="previous-button" title="Previous" (click)="prevTrack()"><i class="fa fa-fast-backward"></i></div>
            <div id="play-button" title="Play" (click)="playTrack()"><i class="fa fa-play"></i></div>
            <div id="pause-button" title="Pause" (click)="pauseTrack()"><i class="fa fa-pause"></i></div>
            <div id="stop-button" title="Stop" (click)="stopTrack()"><i class="fa fa-stop"></i></div>
            <div id="next-button" title="Next" (click)="nextTrack()"><i class="fa fa-fast-forward"></i></div>
            <div id="shuffle-button" title="Shuffle Off"><i class="fa fa-random"></i></div>
            <div id="repeat-button" title="Repeat Off"><i class="fa fa-refresh"><span>1</span></i></div>
        </div>
        <div id="playlist">
            <div id="track-details" title="{{playlistVisible ? 'Hide playlist' : 'Show playlist'}}" (click)="togglePlaylist()">
                <i class="fa fa-sort"></i>
                <p id="track-desc" *ngIf="currentTrack"><strong>{{currentTrack.name}}</strong> by {{currentTrack.artist}}</p>
                <p id="track-desc" *ngIf="!currentTrack">There are no tracks loaded in the player.</p>
                <p id="track-time">
                    <span id="current">-</span> / <span id="total">-</span>
                </p>
            </div>
            <div id="expand-bar" [ngClass]="{ 'hidden' : !playlistVisible }">
                <form>
                    <label for="searchBox">Search</label><div><input id="searchBox" type="search" name="search"></div>
                </form>
                <ul>
                    <li *ngFor="let track of playlist" class="track" [ngClass]="{'active' : isPlaying(track), 'disabled' : !hasPreview(track) }" (click)="loadAndPlayTrack(track)">
                        <div>
                            <span class="overlay"><i class="fa fa-play"></i></span>
                            <img src="{{track.picture}}" />
                        </div>
                        <div>
                            <p class="title">{{track.name}}</p>
                            <p class="artist">{{track.artist}}</p>
                            <span title="Remove Track From Player" class="remove-track">×</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
